altgraph==0.17
apiclient==1.0.4
appdirs==1.4.4
astroid==2.4.2
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
autotest-mi==0.1
cachetools==4.1.0
certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
distlib==0.3.1
filelock==3.0.12
future==0.18.2
httplib2==0.18.1
idna==2.9
iniconfig==1.1.1
isort==4.3.21
keyboard==0.13.5
lazy-object-proxy==1.4.3
mccabe==0.6.1
oauth2client==4.1.3
oauthlib==3.1.0
packaging==20.4
pefile==2019.4.18
pluggy==0.13.1
protobuf==3.12.2
psutil==5.7.3
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pyglet==1.5.11
pylint==2.5.3
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.5
pytest==6.1.1
python-dotenv==0.14.0
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.23.0
requests-oauthlib==1.3.0
rsa==4.4.1
six==1.15.0
toml==0.10.1
uritemplate==3.0.1
uritemplate.py==3.0.2
urllib3==1.25.9
virtualenv==20.0.35
wrapt==1.12.1
